<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :telephone %>
	<%= f.telephone_field :telephone %>
</p>
<p>
	<%= f.label :email %>
	<%= f.email_field :email %>
</p>
<p>
	<%= f.label :relationship %>
	<%= f.text_field :relationship %>
</p>
<p>
	<%= f.label :endorsement %><br />
	<%= f.text_area :endorsement %>
</p>
<p>
	<%= f.submit %>
</p>
