<h3><%= reference.name %></h3>
<h4><%= reference.relationship %></h4>
<p>
Phone: <span itemprop="telephone"><a href="tel:<%= reference.telephone %>">
        <%= reference.telephone %></a>
Email: <a href="mailto:<%= reference.email %>"><%= reference.email %></a>
</p>
<p><%= reference.endorsement %></p>
